*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1920px;
    margin: 0 auto;
}

.bacground{
    width: 1920px;
    height: 1080px;
    background-image: url(./images/motion-be7xihzjktdfpyur.jpg);
}

.blur{
    width: 1920px;
    height: 1080px;
    padding: 240px 595px;
}

.form{
    padding: 30px;
    border-radius: 50px;
    filter: drop-shadow(
        10px 10px 20px #fff
    );
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
}

h1{
    font-size: 100px;
    font-weight: 1000;
    text-align: center;
    padding-bottom: 80px;
    color: white;
    filter: drop-shadow(
        2px 2px 10px #fff
    );
}

.txt{
    padding-left: 20px;
}

label{
    color: white;
    font-size: 40px;
    font-weight: 500;
}

span{
    color: rgb(140, 47, 228);
}

#email{
    margin-left: 36px;
}

input{
    width: 500px;
    height: 80px;
    background-color: transparent;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    filter: drop-shadow(
        4px 4px 10px #fff
    );
}

input#Enter{
    width: 200px;
    margin-left: 234px;
    color: white;
    font-weight: 700;
    background-color: #8a2be2;
    filter: drop-shadow(
        10px 10px 20px #8a2be2
    );
}

